//
// Sitewide breakpoint variables
//

// These are boostrap's default breakpoints
// https://scotch.io/quick-tips/default-sizes-for-twitter-bootstraps-media-queries

$bs_xs: 480px;
$bs_sm: 768px;
$bs_md: 992px;
$bs_lg: 1200px;
