//
// Sitewide color variables
//

$blue: #2f88e3;
$gray: #f7f7f7;
$light_gray: #d3d6d9;
$dark_gray: #6A7C80;
$bluish_gray: #a3afb9;
$blue_bright: #096fe0;
$orangish: #ed6023;
$tan: #ffe6b3;

//
// Font Stacks
//

$sans: FreightTextProBook, Helvetica, sans-serif;
$sans-bold: FreightSansProBold, Helvetica, sans-serif;
$sans-semibold: FreightSansSemibold, Helvetica, sans-serif;
$sans-italic: FreightTextProBookItalic, Helvetica, sans-serif;
$sans-light: FreightTextProBookLight, Helvetica, sans-serif;