/*
 * Deck
 */

.deck {
   position: relative;
   width: 100%;
   height: 0;
   padding-top: 76%;
   background-image: url("/images/deck-2.jpg");
   background-position: center;
   background-size: cover;
}
.wrap-deck {
  max-width: 1280px;
  margin: 0 auto;
}
.quote {
  padding: 30px 45px 60px 45px;
  color: $dark_gray;
  font-family: $sans-bold;
  font-size: 2rem;
  text-align: center;
  @include breakpoint($bs_sm) {
    padding: 60px 60px 120px 60px;
    font-size: 3rem;
  }
  @include breakpoint($bs_md) {
    position: absolute;
    padding: 0;
    bottom: 10%;
    text-align: left;
    font-family: $sans-italic;
    font-size: 1.8rem;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
  }
}
.author {
  font-family: $sans-italic;
  font-size: 2rem;
  @include breakpoint($bs_sm) {
    font-size: 2.5rem;
  }
  @include breakpoint($bs_md) {
    font-size: inherit;
    font-family: $sans-bold;
  }
}
.author-title {
  font-family: $sans-italic;
  font-size: 2rem;
  @include breakpoint($bs_sm) {
    font-size: 2.5rem;
  }
  @include breakpoint($bs_md) {
    font-size: inherit;
    font-family: $sans;
  }
}
