/*
 * Navigation
 */

.nav-items {
  @media (max-width: 580px) {
    width: 100%;
  }
}

.nav-item {
  font-family: $sans-italic;
  font-size: 1.9rem;
  color: white;
  line-height: 70px; // Match the logo

  &:hover {
    color: white;
  }
}

.nav-item-faq {
  margin: 0;
  padding: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.nav-item-doc {
  margin: 0 15px 0 0 ;
  padding: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);

  @media (max-width: 650px) {
    display: none;
  }
}

.nav-item-doc--mobile {
  margin: 0 15px 0 0 ;
  padding: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
  display: none;

  @media (max-width: 650px) {
    display: initial;
  }
}

.follow-text {
  display: none;
  padding: 0 7px 0 0;

  @media (min-width: $bs_sm) {
    display: inline;
  }
}
