/*
 * Pricing
 */

.pricing-table {
  @media (min-width: $price_switch) {
    display: flex;
    margin-bottom: 40px;
  }
}

.pricing-legend {
  display: none;

  @media (min-width: $price_switch) {
    display: block;
    flex-grow: 1;
  }
}

.pricing-level {
  @media(max-width: $price-switch) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  @media (min-width: $price_switch) {
    width: 120px;
  }

  @media (min-width: $bs_md) {
    width: 150px;
  }
}

.pricing-item,
.legend-item {
  padding: 10px;
  line-height: 1.2;
  border-bottom: solid 1px #ccc;
  height: 50px;

  @media (min-width: $price_switch) {
    padding: 0 10px;
    border-left: solid 1px #ccc;
  }
}

.pricing-onsite {
  display: flex;
  flex-direction: column;

  @media (min-width: $price_switch) {
    border-right: solid 1px #ccc;
  }

  .long-text {
    padding: 10px;
    text-align: left;
    flex-grow: 1;
    line-height: 1.5;

    @media (max-width: $bs_xs) {
      font-size: 16px;
    }

    @media (max-width: $price_switch) {
      padding: 10px;
      width: 100%;

      br {
        display: none;
      }
    }
  }
}

.pricing-item {
  position: relative;
  padding-left: 55%;

  @media (max-width: $price_switch) {
    padding-left: 70%;
  }

  &[data-info*="Price"] {
    font-size: 30px;
    font-family: $sans-bold;

    @media (max-width: $bs_xs) {
      font-size: 23px;
    }
  }

  &[data-info*="Monthly Price"] {

    &:before {
      @media (max-width: $bs_sm) {
        font-size: 1.9rem;
      }
    }
  }

  .dollar {
    font-size: 20px;

    @media (max-width: $bs_xs) {
      sup {
        top: -0.3em;
      }
    }

    @media (min-width: $bs_xs) {
      sup {
        top: -0.8em;
      }
    }
  }

  .dollar-amount {
    @media (min-width: $bs_xs) {
      top: -5px;
      position: relative;
    }
  }

  @media (min-width: $price_switch) {
    text-align: center;
    padding: 0;
    line-height: 50px;
  }

  // Labels for mobile
  &:not(.pricing-title) {
    @media (max-width: $price_switch) {
      &:before {
        position: absolute;
        display: block;
        left: 10px;
        top: 50%;
        transform: translatey(-50%);
        content: attr(data-info);
        width: 60%;
        font-family: $sans;
      }
    }
  }
}

.pricing-title,
.legend-item.empty {
  margin: 20px 0 0 0;
  padding: 10px 0;
  background: $blue;
  color: white;
  font-weight: normal;
  font-size: 20px;
  text-align: center;

  @media (min-width: $price_switch) {
    line-height: 50px; // Match the height of the container
    margin: 0;
    padding: 0;
  }
}

.legend-item-text {
  display: table-cell;
  height: 50px;
  vertical-align: middle;
}

.checked {
  display: block;

  &:before {
    color: green;
    display: block;
    position: absolute;
    text-indent: 0;
    left: 72%;
    content: "✓";
    padding-top: 5px;

    @media (min-width: $price_switch) {
      width: 100%;
      left: 0;
      text-align: center;
      padding-top: 0;
    }
  }
}

.pricing-docs-icon {
  vertical-align: middle;
}

.pricing-faq-container {
  display: block;
  overflow: hidden;
  padding-bottom: 40px;
}

.pricing-heading {
  margin-bottom: 30px;
  color: $blue;
  font-size: 26px;
}

.pricing-question {
  display: inline-block;
  text-transform: none;
  margin: 15px 0;
}
