/*
 * Fonts
 */

@font-face {
    font-family: FreightSansProBold;
    src: url(/fonts/FreightSansProBold.ttf);
}

@font-face {
    font-family: FreightTextProBookItalic;
    src: url(/fonts/FreightTextProBookItalic.ttf);
}

@font-face {
    font-family: FreightTextProBookLight;
    src: url(/fonts/FreightTextProBookLight.ttf);
}

@font-face {
    font-family: FreightTextProBook;
    src: url(/fonts/FreightTextProBook.ttf);
}
@font-face {
    font-family: FreightSansProBook;
    src: url(/fonts/FreightTextProBook.ttf);
}